In [36]:
#Question 1

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#Sort the list, display - min and max age
ages.sort()

minimum_age = ages[0]
maximum_age = ages[-1]

print("Minimum age is ", minimum_age)
print("Maximum age is ", maximum_age)

#Adds min and max age back to the list and prints updated list
ages.append(minimum_age)
ages.append(maximum_age)

print(ages)

#Median age(one middle item or two middle items divided by two)
mid = len(ages)/2
if len(ages) % 2 == 0:
    median_value = (ages[int(mid)] + ages[int(mid - 1)]) / 2
else:
    median_value = ages[int(mid)]
    
print("Median age", median_value)

#Average age(sum of all items divided by their number)
avg_age = sum(ages)/len(ages)

print("Average age", avg_age)

#Range of the ages(max minus min)
range_ages = maximum_age - minimum_age

print("Range age", range_ages)

Minimum age is  19
Maximum age is  26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age 24.0
Average age 22.75
Range age 7

In [11]:
#Question 2

#empty disctionary of dog
dog = {}

#Adding Name, color, breed, legs, age to dog
dog['name']="Snoopy"
dog['color']="Golden"
dog['breed']="Golden Retriever"
dog['legs']=4
dog['age']= 2

print("Dog dictionary dog: ", dog)
#dictionary named student and adding keys for dictionary
student = {}
student['first_name']= "Sahil Naidu"
student['last_name']= "Pagadala"
student['gender']= "Male"
student['age']= 24
student['marital status']= "Single"
student['skills'] = ["Sleeping","Curiosity"]
student['country']= "India"
student['city']= "Hyderabad"
student['address']= "Aravind Nagar, Hyderabad, Telangana"

print("Student dictionary student: ", student)

#length of student dictionary
print("length of student dictionary ", len(student))

#Value of skills and data type
print("Skills: ", student['skills'])
print("Data type of skills: ", type(student['skills']))

#Added one skill to list
student['skills'].append('Imagination')

#Dictionary keys as a list
print(list(student.keys()))

#Dictionary values a a list
print(list(student.values()))

Dog dictionary dog:  {'name': 'Snoopy', 'color': 'Golden', 'breed': 'Golden Retriever', 'legs': 4, 'age': 2}
Student dictionary student:  {'first_name': 'Sahil Naidu', 'last_name': 'Pagadala', 'gender': 'Male', 'age': 24, 'marital status': 'Single', 'skills': ['Sleeping', 'Curiosity'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Aravind Nagar, Hyderabad, Telangana'}
length of student dictionary  9
Skills:  ['Sleeping', 'Curiosity']
Data type of skills:  <class 'list'>
['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']
['Sahil Naidu', 'Pagadala', 'Male', 24, 'Single', ['Sleeping', 'Curiosity', 'Imagination'], 'India', 'Hyderabad', 'Aravind Nagar, Hyderabad, Telangana']

In [12]:
#Question 3

sisters = ('Sandy', 'Candy', 'Bhendi')
brothers = ('Iyer', 'Tarak Mehtha', 'Jhetalal')

#Joining brothers and sisters and assigning it to siblings
siblings = sisters + brothers
print("Siblings: ", siblings)

#Number of siblings
print("Number of siblings I have are", len(siblings))

#Modification by adding father and mother name and assigning it to family_members
family_members = siblings + ('Mrs.Gada', 'Mr.Gada')
print(family_members, " Are a family.")

Siblings:  ('Sandy', 'Candy', 'Bhendi', 'Iyer', 'Tarak Mehtha', 'Jhetalal')
Number of siblings I have are 6
('Sandy', 'Candy', 'Bhendi', 'Iyer', 'Tarak Mehtha', 'Jhetalal', 'Mrs.Gada', 'Mr.Gada')  Are a family.

In [52]:
#Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#Length of set it_companies
print("Length of it_companies: ", len(it_companies))

#Adding twitter to set
it_companies.add('Twitter')

#Inserting multiple IT companies at once to set
it_companies.update(['TCS', 'Wipro', 'Infosys'])

#Removing one of the compinies from set
it_companies.remove('Wipro')

#Difference between remove and discard
#Remove - throws error if particular element is not present
#discard - does't throw error if element is not present

#Join A and B
print(A.union(B))

#A intersection B
print(A.intersection(B))

#A subset of B?  displays a boolean value
print(A.issubset(B))

#A and B disjoint
print(A.isdisjoint(B))

#Joining A with B and B with A
print(A.union(B) and B.union(A))

#Symmetric difference between A and B
print(A.symmetric_difference(B))

#Deleting the sets completely
del A
del B

#Converting the ages to a set and compare the length of the list and the set.
age_set = set(age)
len(age) == len(age_set)

Length of it_companies:  7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

False

In [57]:
#Question 5

radius = 30
pi = 3.14

#Area of circle
_area_of_circle_ = pi * (radius * radius)

#Circumference of circle
_circum_of_circle_ = 2 * pi * radius

#Taking radius as user input and calculate the area
radius = float(input("Enter the radius of circle: "))
_area_of_circle_ = pi * (radius * radius)
_circum_of_circle_ = 2 * pi * radius

#Rounded of the to estimate an answer easily and quickly
print(round(_area_of_circle_ , 2) , round(_circum_of_circle_ , 2))

Enter the radius of circle: 10.2
326.69 64.06

In [60]:
#Question 6

#Usage of split methods and set to get unique words

words = "I am a teacher and I love to inspire and teach people".split()
unique_words = set(words)
print(unique_words)

{'teacher', 'people', 'am', 'love', 'a', 'and', 'I', 'inspire', 'teach', 'to'}

In [89]:
#Question 7

print("Name      \tAge  \tCountry\t  City")
print("Asabehen\t250\tFinland\t  Helsinki")

Name      	Age  	Country	  City
Asabehen	250	Finland	  Helsinki

In [95]:
#Question 8

#Using the string formatting method to display

radius =10
area = int(3.14 * radius **2)
print("The area of a circle with radius {} is {} meters square.".format(radius,area))

The area of a circle with radius 10 is 314 meters square.

In [6]:
#Question 9

N = int(input("Enter the no. of students: "))

L1 = []

#Appending values to list L1
for i in range(N):
    wt = int(input("Enter the weight of student in lbs: "))
    L1.append(wt)

print("Weights in lbs:", L1)

L2 = []

#values of L1 converted to kg's and append it into L2 
for j in L1:
    kg = j * 0.45
    L2.append(kg)

    
print("Weights in kgs:", L2)

Enter the no. of students: 4
Enter the weight of student in lbs: 150
Enter the weight of student in lbs: 155
Enter the weight of student in lbs: 145
Enter the weight of student in lbs: 148
Weights in lbs: [150, 155, 145, 148]
Weights in kgs: [67.5, 69.75, 65.25, 66.60000000000001]